<!DOCTYPE html>
<html ng-app>
<head>
  <title>UniCrawler</title>
  <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link href="css/main.css" rel="stylesheet" media="screen">
</head>
<body ng-controller="GlobalCtrl">
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="brand" href="#">UniCrawler</a>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="http://ic05-api.emilienkenler.com/docs">Docs</a></li>
            <li><a href="https://github.com/MiLk/UniCrawler">Sources</a></li>
            <li><a href="http://www.emilienkenler.com/">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row sigma-parent" id="sigma-parent" ng-controller="SigmaCtrl" ng-class="{link: mouseHover}">
    <div class="sigma-expand" id="sigma"></div>
  </div>

  <div class="container-fluid">
    <div class="row" id="controlbox">
      <div class="span5">
        <div class="well">
          <div ng-controller="StatusCtrl" id="status">
            <div class="ng-cloak" ng-show="error">
              <div class="alert alert-error">
                {{ error }}
              </div>
            </div>
            
            <p class="btn-group">
              <button id="startbutton" class="btn btn-success" ng-click="startCrawl()" ng-disabled="crawlStatus == 1 && false" data-toggle="popover" data-trigger="manual" data-html="true" data-content="<b>Attention</b> : commencer un nouveau crawl effacera toutes les données<br><br><input type='button' class='btn btn-danger' value='Effacer' ng-click='clearAndStartCrawl()'><input type='button' class='btn pull-right' value='Annuler' ng-click='doNotStartCrawl()'>" data-original-title="Démarrer un nouveau crawl ?" data-placement="right" data-container="body">
                <i class="icon-play icon-white"></i> Démarrer
              </button>
              <button class="btn btn-warning" ng-click='pauseCrawl()' ng-disabled="crawlStatus != 1 && false">
                <i class="icon-pause icon-white"></i> Pause
              </button>
              <button class="btn btn-danger" ng-click="stopCrawl()" ng-disabled="crawlStatus == 0 && false">
                <i class="icon-stop icon-white"></i> Arrêter
              </button>
            </p>
            
            <div class="dropdown pull-right" id="drop-connexion">
              <a href="#drop-connexion" class="dropdown-toggle btn btn-primary" data-toggle="dropdown">
                <i class="icon-download-alt icon-white"></i>
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><a href="{{apiUrl}}/results.gdf">Graphe par pages <small>(.gdf)</small></a></li>
                <li><a href="{{apiUrl}}/keywords.gdf">Graphe par mots-clés <small>(.gdf)</small></a></li>
              </ul>
            </div>
                      
            <p>
              Nœuds correspondants trouvés : <span class="ng-cloak">{{ visited }}</span><br />
              Nœuds à explorer : <span class="ng-cloak">{{ working }}</span>
            </p>
          </div>

          <div>
            <i class="icon-chevron-right" ng-show="!reglages"></i>
            <i class="icon-chevron-down ng-cloak" ng-show="reglages"></i>
            <a href="#" ng-click="reglages=!reglages">Réglages</a>
          </div>
          <div ng-show="reglages" ng-init="reglages=false" class="ng-cloak">            
            <div ng-controller="SeedCtrl">
              <form ng-submit="addSeed()" class="form-horizontal">
                <label for="id_seeds" class="control-label">Seeds</label>
                <div class="controls">
                  <div class="input-append">
                    <input type="text" id="id_seeds" class="span3" ng-model="newSeed" placeholder="http://www.example.com">
                    <button class="btn" type="submit"><i class="icon-plus"></i></button>
                  </div>
                </div>
              </form>
              <ul id="seed-list" class="ng-cloak">
                <li ng-repeat="seed in seeds">
                  {{ seed }} <a ng-click="deleteSeed($index)" href=""><i class="icon-remove"></i></a>
                </li>
              </ul>
            </div>
            <div ng-controller="DepthCtrl">
              <form ng-submit="DepthSet()" class="form-horizontal">
                  <label for="id_depth" class="control-label">Profondeur</label>
                  <div class="controls">
                    <div class="input-append">
                      <input class="span1" id="id_depth" type="text" value="" ng-model="depth">
                      <button class="btn" type="submit" ng-disabled="working || done || failed"><i ng-class="{'icon-arrow-down': !working && !done && !failed, 'icon-refresh': working, 'icon-ok': done, 'icon-remove': failed}"></i></button>
                    </div>
                  </div>
                </form>
            </div>

            <div ng-controller="FilterCtrl">
              <h4>Filtres</h4>
              <form ng-submit="addFilter('url')" data-toggle="popover" title="" data-trigger="hover" data-content="Seules les pages dont l'URL contient au moins un de ces mots-clés seront traitées" data-original-title="Filtrer les URL" data-placement="right" data-container="body" class="form-horizontal">
                <label for="id_url" class="control-label">Adresse</label>
                
                <div class="controls">
                  <div class="input-append">
                    <input class="span3" id="id_url" type="text" ng-model="newFilterData.url">
                    <button class="btn" type="submit" ng-disabled="working['url']"><i ng-class="{'icon-plus': !working['url'], 'icon-refresh': working['url']}"></i></button>
                  </div>
                </div>
              </form>

              <ul ng-show="filters.url.length">
                <li ng-repeat="url in filters.url" class="ng-cloak">
                  {{ url }} <a ng-click="deleteFilter('url', $index)" href=""><i class="icon-remove"></i></a></a>
                </li>
              </ul>

              <form ng-submit="addFilter('title')" data-toggle="popover" title="" data-trigger="hover" data-content="Seules les pages dont le titre contient au moins un de ces mots-clés seront traitées" data-original-title="Filtrer le titre" data-placement="right" data-container="body" class="form-horizontal">
                <label for="id_title" class="control-label">Titre</label>
                <div class="controls">
                  <div class="input-append">
                    <input class="span3" id="id_title" type="text" ng-model="newFilterData.title">
                    <button class="btn" type="submit" ng-disabled="working['title']"><i ng-class="{'icon-plus': !working['title'], 'icon-refresh': working['title']}"></i></button>
                  </div>
                </div>
              </form>
              
              <ul ng-show="filters.title">
                <li ng-repeat="title in filters.title" class="ng-cloak">
                  {{ title }} <a ng-click="deleteFilter('title', $index)" href=""><i class="icon-remove"></i></a>
                </li>
              </ul>

              <form ng-submit="addFilter('body')" data-toggle="popover" title="" data-trigger="hover" data-content="Seules les pages dont le contenu contient au moins un de ces mots-clés seront traitées" data-original-title="Filtrer le contenu" data-placement="right" data-container="body" class="form-horizontal">
                <label for="id_body" class="control-label">Contenu</label>
                <div class="controls">
                  <div class="input-append">
                    <input class="span3" id="id_body" type="text" ng-model="newFilterData.body">
                    <button class="btn" type="submit" ng-disabled="working['body']"><i ng-class="{'icon-plus': !working['body'], 'icon-refresh': working['body']}"></i></button>
                  </div>
                </div>
              </form>

              <ul ng-show="filters.body.length">
                <li ng-repeat="body in filters.body" class="ng-cloak">
                  {{ body }} <a ng-click="deleteFilter('body', $index)" href=""><i class="icon-remove"></i></a>
                </li>
              </ul>

            </div><!-- end FilterCtrl-->
            
            <div ng-controller="ConfigCtrl">
              <button class="btn btn-primary btn-small" ng-click="resetConfig()">
                <i class="icon-trash icon-white"></i> Réinitialiser la configuration
              </button>
            </div>
          </div><!-- end reglages -->
        </div><!-- end well -->
        
        <div class="well ng-cloak" ng-show="data" ng-controller="DataboxCtrl">
          <span class="pull-right"><a ng-click="data=null" class="link"><i class="icon-remove"></i></a></span>
          <h4>Infos</h4>
          URL : <a href="{{ data.label }}" title="{{ data.label }}" target="_blank">{{ data.shortLabel }}</a>
        </div><!-- end well -->
      </div><!-- end span4 -->
    </div><!-- end row-->
  </div> <!-- end container -->

  <div id="toolbox" ng-controller="ToolboxCtrl">
    <div class="btn-group">
      <button class="btn btn-large" ng-click="zoom(.5)" data-toggle="tooltip" title="Zoom arrière"><i class="icon-zoom-out"></i></button>
      <button class="btn btn-large" ng-click="zoom(1.5)" data-toggle="tooltip" title="Zoom avant"><i class="icon-zoom-in"></i></button>
      <button class="btn btn-large" ng-click="toggleForceAtlas()" ng-class="{active: forceAtlas}" data-toggle="tooltip" title="Force Atlas"><i class="icon-globe"></i></button>
    </div>
  </div>

  <script src="js/jquery-1.10.2.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/angular.min.js"></script>
  <script src="js/sigma.min.js"></script>
  <script src="js/sigma.forceatlas2.js"></script>
  <script src="js/config.js"></script>
  <script src="js/main.js"></script>
</body>

</html>
